$blue: #04539e;
$white: #fff;
$gray: gray;

.button {
  background-color: $blue;
  padding: 0.5em;
  color: $white;
  border-radius: 5px;
  transition: background-color 0.1s ease-in;

  &:hover {
    background-color: lighten($color: $blue, $amount: 10%);
  }

  &:disabled {
    background-color: $gray;
  }
}