.name {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 2px;
}

.node {
  display: inline-block;
  padding-top: 4px;
}

.children {
  display: flex;
  position: relative;
  left: 24px;
  flex-direction: column;
}